.footer-section {
    border-top: 1px solid #f6f6f6;
}

.footer-wrapper {
    display: flex;
    margin: auto;
    background-color: #f6f6f6;
    min-height: 260px;
}

/* Left logo area */
.footer-logo {
    background: #fff;
    color: #000;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo h3 {
    font-weight: 700;
}

/* Right content */
.footer-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    gap: 30px;
    background-color: #673ab7;
    color: #fff;
}

.footer-column h6 {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 12px;
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    color: #fff;
    cursor: pointer;
}

.footer-column li:hover {
    opacity: 1;
    text-decoration: underline;
}

/* Bottom bar */
.footer-bottom {
    text-align: center;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #673ab7;

}

/* =====================
   MOBILE VIEW
===================== */
@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
    }

    .footer-logo {
        min-width: 100%;
        padding: 20px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

    .footer-column {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 15px;
    }

    .footer-bottom {
        text-align: center;
    }
}